MTS-ESP MIDI Client MPE.amxd
MTS-ESP MIDI Client.amxd
*.dll
/node_modules
textEdit.maxpat
/dist
/DS_Store

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
